<div class="c-h-2 ">
  <div class=" d-flex text-center row flex-nowrap justify-content-between w-100">

    <%= link_to 'Grouped', courses_path(:grouped => true), class:'text-light ml-3 '%>

    <%= link_to 'Ungrouped', courses_path(:ungrouped => true), class:'text-light ml-3 '%>

    <%= link_to 'Groups', groups_path, class:'text-light ml-3'%>

  </div>

</div>
