<div class="courses-container">
  <div class="courses-header p-5">
    <div class="c-h-1 text-light">
      <div class="text-light">
        <i class="fas fa-bars"></i>
      </div>
      <h6>COURSES</h6>
      <div class="search-logo">

      </div>
    </div>


  </div>

</div>
