<div class="page p-5">
  <div class=" text-center py-5 mb-5 d-flex row flex-nowrap justify-content-between">
    <%= link_to courses_path do %>
    <i class="fas fa-arrow-left arrow-icon text-light"></i>
  <% end %>
  <h3>ADD COURSE</h3>
  <i class="fas fa-search search-icon"></i>
</div>
<div class="text-center my-5 py-4">
  <%= show_form() %>
</div>
</div>
